.post {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 5px;
}
.ava {
    width: 100%;
    border-radius: 100%;
}

.text {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.message {
    color: white;
}

.likes {
    color: rgb(220, 20, 60);
}