.dialog {
    display: grid;
    grid-template-columns: 1fr 11fr;
}

.dialog a {
    display: grid;
    grid-template-columns: 1fr 11fr;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    align-items: center;
    width: 150px;
}

.dialog .active {
    display: grid;
    grid-template-columns: 1fr 11fr;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    align-items: center;
    width: 150px;
}

.ava {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 5px;
}