.onlineFriend {
    width: 60px;
    cursor: pointer;
    margin-top: 10px;
}
.ava {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}

.name {
    color: white;
    text-align: center;
}
