a {
    display: grid;
    grid-template-columns: 1fr 11fr;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgba(112, 128, 144, 0.9);
    border-radius: 0 8px 8px 0;
    align-items: center;
}

a:hover {
    background-color:aquamarine;
    color: green;
    border: 1px solid green;
}

.active {
    display: grid;
    grid-template-columns: 1fr 11fr;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 0 8px 8px 0;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.ava {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 10px;
}