.body {
    background-image: url("https://oir.mobi/uploads/posts/2022-08/1661337111_16-oir-mobi-p-fon-dlya-telegram-oboi-17.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 70px 1fr;
    gap: 15px;
    margin: 0 auto;
    width: 1200px;
    min-height: 100vh;
}
.navAndContent {
    display: grid;
    grid-template-columns: 2fr 10fr;
    gap: 15px;
}
.preloader {
    background-color: rgba(21, 34, 42, 0.9);
    border: 1px solid rgba(112, 128, 144, 0.9);
    border-radius: 8px;
}
.loginContainer {
    width: 300px;
    height: 300px;
    display: grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(21, 34, 42, 0.9);
    border: 1px solid rgba(112, 128, 144, 0.9);
    border-radius: 8px;
}