.new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.input {
    border: 1px transparent solid;
    outline: none;
}

.button {
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgba(112, 128, 144, 1);
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color:aquamarine;
    color: green;
    border: 1px solid green;
}