.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 0 0 15px 15px;
    margin: 0 15px;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
}

