.app-wrapper {
    display: grid;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 1200px;
    margin: 0 auto;
}

.header {
    grid-area: header;
    background-color: aquamarine;
}

.header img {
    max-height: 100%;
}

.nav {
    grid-area: nav;
    background-color: cadetblue;
}

.profile {
    grid-area: content;
    background-color: bisque;
}

.profile img {
    width: 100%;
}