.nav {
    grid-area: nav;
    border-radius: 15px;
    margin: 15px 0 0 15px;
}

.nav a {
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}

.nav .active {
    color: black;
    background-color: rgba(255, 255, 255, 1);
}
